/* Todo: Mobile optimizations */
/* Collapsing grid? */

.layout {
    position: fixed;
    top: 90px;
    width: 400px;
    height: 800px;

    margin: auto;
    margin-left: 20px;

    color: white;
    font-size: 20px;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    display: grid;
    grid:
      "agility intellect" 17%
      "strength skill" 17%
      "attack presence" 17%
      "alchemy power" 17%
      / 49% 49%;
    gap: 12px;
  }

  /* @media screen and (max-width: 400px) {
    .layout {
        margin-left: 15px;
    }
  }
   */
  .agility { grid-area: agility; }
  .intellect { grid-area: intellect; }
  .strength { grid-area: strength; }
  .skill { grid-area: skill; }
  .attack { grid-area: attack; }
  .presence { grid-area: presence; }
  .alchemy { grid-area: alchemy; }
  .power { grid-area: power; }