body {
    background-color: black;
}

.badge {
    float: left;
    width: 35%;
    height: 60px;

}

.badgeImg {
    margin-left: 15px;
    width: 50px;
    border: 1px solid ghostwhite;
    border-radius: 10px;

}

.badgeTitle {
    width: 75px;
    margin-right: 7px;
    text-align: center;
    font-size: small;
    float: right;
    color: white;
}

.activityMenu {
    width: 300px;
    height: 330px;
    margin-left: 55px;
    margin-bottom: 20px;
    background-color: rgb(42, 41, 41);
    color: white;
    padding: 10px;
    padding-left: 30px;
    border-radius: 15px;
    border: 1px solid white;
}

.menuLabel {
    margin-bottom: 10px;
}

.menuInput {
    float: right;
    width: 65%;
}

.notesInput {
    height: 50px;
}

textarea {
    resize: none;
  }

.menuTime {
    padding-left: 0px;
}

.menuTimeInput {
    display: inline;
    width: 20%;
    height: 13px;
}

.abilityHeader {
    float: left;
    margin-left: 15px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    height: 15px;
}

.abilityImage {
    float:left;
    width:40px;
}

.header {
    margin: 2rem auto;
    padding-left: 80px;
    height: 60px;
}

.logoHeader {
    width: 300px;
}
.attributeStats {
    float:left;
    width: 65%;
    height: 60px;
    padding: 0px;
    margin:0px;
}
.attributeLevel, .attributeXP {
    font-size:large;
}
.attributeData {
    float: right;
    color: goldenrod;
}

.buttons {
    float: left;
    width: 210px;
    height: 30px;
}

.icon {
    margin-top: 15px;
    width: 30px;
    height: 30px;
    float: left;
}

.addButton, .statsButton {
    border-radius: 8px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    float: left;
    background-color: rgb(113, 113, 113);
    color: rgb(0, 0, 0);
    font-weight: 600;
    box-shadow: inset 0 0 5px rgb(34, 34, 34);
}

.addThumb {
    margin-top: 3px;
    width: 15px;
    height: 15px;
}

.statsThumb {
    margin-top: 3px;
    margin-right: 1px;
    width: 21px;
    height: 20px;
}

.menuButton {
    border-radius: 8px;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    margin-top: 30px;
    float: left;
    background-color: rgb(94,94,94);
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.layout {
    width: 400px;
    height: 800px;

    margin: auto;
    margin-left: 20px;

    color: white;
    font-size: 20px;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    display: grid;
    grid:
      "agility intellect" 17%
      "strength skill" 17%
      "attack presence" 17%
      "alchemy power" 17%
      / 49% 49%;
    gap: 12px;
  }

  /* @media screen and (max-width: 400px) {
    .layout {
        margin-left: 15px;
    }
  }
   */
  .agility { grid-area: agility; }
  .intellect { grid-area: intellect; }
  .strength { grid-area: strength; }
  .skill { grid-area: skill; }
  .attack { grid-area: attack; }
  .presence { grid-area: presence; }
  .alchemy { grid-area: alchemy; }
  .power { grid-area: power; }
  