body {
    background-color: black;
}

.activityMenu {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    background-color: rgb(42, 41, 41);
    color: white;
    padding: 10px;
    padding-left: 30px;
    border-radius: 15px;
    border: 1px solid white;
}

.menuInput {
    float: right;
    width: 65%;
}

.abilityHeader {
    float: left;
    margin-left: 15px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    height: 15px;
}

.abilityImage {
    float:left;
    width:40px;
}

.header {
    margin: 2rem auto;
    padding-left: 80px;
    height: 60px;
}

.logoHeader {
    width: 300px;
}
.attributeStats {
    float:left;
    width: 65%;
    height: 60px;
    padding: 0px;
    margin:0px;
}
.attributeLevel, .attributeXP {
    font-size:large;
}
.attributeData {
    float: right;
    color: goldenrod;
}

.buttons {
    float: left;
    width: 210px;
    height: 30px;
}

.icon {
    margin-top: 15px;
    width: 30px;
    height: 30px;
    float: left;
}

.addButton, .viewButton {
    border-radius: 8px;
    width: 45px;
    height: 30px;
    margin-right: 10px;
    float: left;
    background-color: rgb(94,94,94);
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.layout {
    width: 400px;
    height: 800px;

    margin: auto;

    color: white;
    font-size: 20px;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    display: grid;
    grid:
      "agility intellect" 17%
      "strength skill" 17%
      "attack presence" 17%
      "alchemy power" 17%
      / 49% 49%;
    gap: 8px;
  }
  
  .agility { grid-area: agility; }
  .intellect { grid-area: intellect; }
  .strength { grid-area: strength; }
  .skill { grid-area: skill; }
  .attack { grid-area: attack; }
  .presence { grid-area: presence; }
  .alchemy { grid-area: alchemy; }
  .power { grid-area: power; }
  