.historyTab {
    background-color: rgb(30, 30, 30); 
    
}

.activitiesList {
    display: block;
    /* position: fixed; */
    /* top: 100px; */
    float: left;
    width: 400px;
    padding-top: 6px;
    /* padding-top: 105px; */
  }