.test-header {
  color: white;
}

.activitiesList {
  display: block;
  /* position: fixed; */
  /* top: 100px; */
  float: left;
  width: 480px;
  padding-top: 20px;
  /* padding-top: 105px; */
}

.backButtonImg {
  /* float: left; */
  margin-top: 3px;
  margin-right: 1px;
  width: 15px;
}

.backButton {
  /* position: absolute; */
  /* position: fixed; */
  /* top: 70px; */
  
  /* align-items: center; */
  border-radius: 8px;
  border: 1px solid rgb(61, 61, 61);
  width: 32px;
  height: 30px;
  /* margin-left: 2rem; */
  /* margin-bottom: 0.5rem; */
  /* float: left; */
  background-color: rgb(113, 113, 113);
  color: rgb(0, 0, 0);
  font-weight: 600;
  box-shadow: inset 2px 2px 1px 0px rgb(200, 200, 200);
  float:left;
  margin-top: 0px;
  margin-right: 8px;
}

.backButton:hover {
  background-color: rgb(88, 88, 88);
}

/* .addButton:focus, .statsButton:focus {
    background-color: rgb(74, 74, 74);
  } */
.backButton:active {
  transform: scale(0.95);
  /* width: 34px;
    height: 29px; */
  /* border: 2px solid goldenrod; */
  box-shadow: inset -2px -2px 1px 0px rgb(200, 200, 200);
}

.backButtonContainer {
  position: fixed;
  top: 74px;
  /* margin-left: 32px; */
  padding-left: 32px;
  height: 35px;
  width: 480px;
  /* z-index: 2; */
  background-color: black;
}

.tabs {
  width: 480px;
  height: 35px;
  /* padding-top: 107px; */
  background-color: black;
  position: fixed;
  top: 85px;
  align-items: center;
  padding-left: 38px;
}

.tab {
  width: 100px;
  height:35px;
  background-color: rgb(5, 0, 51);
  color: ghostwhite;
  font-size: 16px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid rgb(61, 61, 61);
}
.tab:active {
  background-color: rgb(62, 56, 111);
}

.tab-active {
  background-color: rgb(62, 56, 111);
}

.content {
  /* margin-top: 100px; */
  /* padding-top: 20px; */
  position:fixed;
  top: 119px;
  background-color: rgb(62, 56, 111);
  /* height: 600px; */
  width: 440px;
  border-radius: 15px;
  border: 1px solid rgb(62, 56, 111);
}
