/* Disable increment buttons on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.activityMenu {
    width: 320px;
    height: 410px;
    margin-left: 44px;
    margin-bottom: 20px;
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 10px;
    padding-left: 30px;
    border-radius: 15px;
    border: 1px solid rgb(87, 87, 87);
}

.minusButton {
    float: right;
}

.plusButton {
    float: left;
    margin-right: 3px;
}

.plusButton, .minusButton {
    width: 20px;
    padding: 5px;
}

.plusButtonSm {
    width: 15px;
    margin-top: 8px;
    margin-left: 6px;
    margin-right: 4px;
}



.menuLabel {
    margin-bottom: 20px;
    color:rgb(183, 146, 177);
}

.durMenuLabel {
    height: 40px;
    margin-bottom: 10px;
    color:rgb(183, 146, 177);
}


.menuInput {
    float: right;
    margin-right: 24px;
    width: 65%;
    height: 24px;
    border-radius: 5px;
    border: 1px solid  rgb(87, 87, 87);
    background-color: rgb(2, 0, 20);
    color:rgb(181, 155, 53);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px;
}

.countInputDiv {
    float: right;
    margin-right: 75px;
    width: 36%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid  rgb(87, 87, 87);
    background-color: rgb(2, 0, 20);
}
.countInput {
    text-align: center;
    margin: auto;
    width: 40%;
    height: 22px;
    border: none;
    background-color: rgb(2, 0, 20);
    color:rgb(181, 155, 53);
}

.notesInput {
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px;
}

textarea {
    resize: none;
  }

.menuTime {
    float: right;
    margin-right: 28px;
    width: 65%;
    height: 100%;
    border-radius: 5px;
    /* background-color: rgb(2, 0, 20); */
    color:rgb(181, 155, 53);
    padding-left: 0px;
    border: none;
    background-color:  none;
    /* vertical-align: middle; */
    /* position: relative; */
}

.menuTimeInput {
    float: right;
    border: none;
    background-color: rgb(2, 0, 20);
    color:rgb(137, 77, 194);
    /* display: inline; */
    border-radius: 3px;
    width: 20px;
    height: 18px;
    text-align: center;
    margin-right: 8px;
    margin-top: 6px;
}

.durationBlock {
    float:left;
    height: 30px;
    border: 1px solid rgb(87, 87, 87);
    background-color: rgb(2, 0, 20);
    color:rgb(137, 77, 194);
    /* display: inline; */
    border-radius: 3px;
    width: 28%;
    margin-right: 4px;
    margin-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px;
}

.menuImage {
    float:left;
    width:40px;
    margin-right:45px;
    /* margin-top: 6px; */
}

.menuAttrHead {
    padding-top: 0px;    
}

.menuHeader {
    margin-bottom: 37px;
}

.buttons {
    /* float: left; */
    margin: auto;
    width: 145px;
    height: 30px;
}

.menuButton {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    margin-top: 30px;
    float: left;
    background-color: rgb(94,94,94);
    color: rgb(0, 0, 0);
    font-weight: 600;
    box-shadow: inset 2px 2px 1px 0px rgb(200, 200, 200);
}

.menuButton:hover {
    background-color: rgb(88, 88, 88);
}

.menuButton:active {
    transform: scale(0.95);
    box-shadow: inset -2px -2px 1px 0px rgb(200, 200, 200);
}