/* Todo: Mobile optimizations */

.header {
    /* margin: auto; */
    position: fixed;
    padding-left: 69px;
    height: 85px;
    width: 380px;
    background-color: black;
}

.logoHeader {
    width: 260px;
}