.abilityHeader {
  float: left;
  margin-left: 15px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  height: 15px;
}

.abilityImage {
  float: left;
  width: 40px;
}

.attributeStats {
  float: left;
  width: 65%;
  height: 60px;
  padding: 0px;
  margin: 0px;
}

.attrFoot {
  float: left;
  width: 210px;
  height: 30px;
  padding-left: 0px;
}

.addThumb {
  margin-top: 3px;
  width: 15px;
  height: 15px;
}

.statsThumb {
  margin-top: 3px;
  /* margin-right: 2px; */
  width: 21px;
  height: 20px;
}

.attributeLevel,
.attributeXP {
  font-size: large;
}

.attributeLevel {
  margin-top: 3px;
}

.attributeData {
  float: right;
  color: goldenrod;
}

.addButton,
.statsButton {
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0);
  width: 32px;
  height: 30px;
  margin-right: 6px;
  float: left;
  background-color: rgb(113, 113, 113);
  color: rgb(0, 0, 0);
  font-weight: 600;
  box-shadow: inset 2px 2px 1px 0px rgb(200, 200, 200);
  
}

.addButton:hover, .statsButton:hover {
  background-color: rgb(88, 88, 88);
}

/* .addButton:focus, .statsButton:focus {
  background-color: rgb(74, 74, 74);
} */
.addButton:active, .statsButton:active {
  transform: scale(0.95);
  /* width: 34px;
  height: 29px; */
  /* border: 2px solid goldenrod; */
  box-shadow: inset -2px -2px 1px 0px rgb(200, 200, 200);}
