@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/* * {
  box-sizing: border-box;
} */

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: auto;
  width: 390px;
  background-color: #000000;
}

@media (max-width: 395px) and (min-width: 378px) {
  .main {
      transform: scale(0.92);
      /* float: left; */
      margin: auto;
      /* margin-left: auto; */
      /* width: 330px; */
  }
}

@media (max-width: 378px) {
  .main {
    transform: scale(0.90);
    float: left;
    margin-left: 1px;
  }
}